<?xml version="1.0" encoding="utf-8"?>

<manifest

    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ghofrani.classapp"
    android:installLocation="internalOnly">

    <uses-permission

        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission

        android:name="android.permission.VIBRATE" />

    <uses-feature

        android:name="android.hardware.camera"
        android:required="false" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/chalkboard_theme"
        tools:replace="android:theme">

        <activity

            android:name=".activity.Main"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity

            android:name=".activity.Settings"
            android:parentActivityName=".activity.Main"
            android:screenOrientation="portrait">

        </activity>

        <activity

            android:name=".activity.AddHomework"
            android:parentActivityName=".activity.Main"
            android:screenOrientation="portrait">

        </activity>

        <activity

            android:name=".activity.ViewClass"
            android:parentActivityName=".activity.Main"
            android:screenOrientation="portrait">

        </activity>

        <activity

            android:name=".activity.ViewHomework"
            android:parentActivityName=".activity.Main"
            android:screenOrientation="portrait">

        </activity>

        <activity

            android:name=".activity.AddClass"
            android:parentActivityName=".activity.Main"
            android:screenOrientation="portrait">

        </activity>

        <activity

            android:name=".activity.EditDay"
            android:parentActivityName=".activity.Main"
            android:screenOrientation="portrait">

        </activity>

        <provider

            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ghofrani.classapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths">

            </meta-data>

        </provider>

        <service

            android:name=".service.Background"
            android:icon="@mipmap/ic_launcher"
            android:label="BackgroundService">

        </service>

        <receiver android:name="com.ghofrani.classapp.modules.BootBroadcastReceiver">

            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>

        </receiver>

    </application>

</manifest>